.body__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.body__row-container{
    max-width: 1200px;
    margin: 0 auto;
    flex: 1 1 auto;
}